{% extends 'layout.html.twig' %}

{% block title %}Détails du prof{% endblock %}

{% block content %}
    <h1> {{ teacher.firstname }} {{ teacher.lastname }}</h1>
    <p>Pseudo du prof : {{ teacher.title }}</p>
    <p>description : {{ teacher.description }} </p>
    {% if teacher.image %}
    <img src="/assets/images/upload/{{ teacher.image }}" class="image-size" alt="photo de {{ teacher.title }}">
    {% else %}
    <p>il n'y a pas de photo</p>
    {% endif %}
    <p>Adresse de couriel : {{ teacher.email }} </p>
    <p>Numéro de télephone : {{ teacher.phone }}</p>
    <br>
    
    {% if "ROLE_ADMIN" in appUser.role %}
        <a href="/teacher/edit/{{ teacher.id }}" class="btn btn-warning mt-3 mb-3">Modifier</a>
        <a href="/teacher/delete/{{ teacher.id}}" class="btn btn-danger mt-3 mb-3">supprimer</a>
    {% endif %}

    <h2>Cours proposés :</h2>
    <ul>
        {% for lesson in lessons %}
        <a href="/assist/add/{{ lesson.offer_id }}">
        <li>{{ lesson.level }} - {{ lesson.name }} </li>
        </a>
        {% else %}
        <li>ce prof ne donne pas encore de cours</li>
        {% endfor %}
    </ul>
    
    {% if "ROLE_ADMIN" in appUser.role %}
        <a href="/teacher/addlesson/{{ teacher.id }}" class="btn btn-warning mt-3 mb-3">assigner un cours</a>
        <a href="/teacher/dellesson/{{ teacher.id}}" class="btn btn-danger mt-3 mb-3">supprimer un cours</a>
    {% endif %}

    <br>
    <a href="/teacher">Retourner à la liste des profs</a>
{% endblock %}
